@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@theme {
  --color-brand-green: #0b2f1d;
  --color-brand-gold: #c5a059;
  --color-brand-dark: #121412;
}

/* Marquee animation */
@keyframes marquee {
  from { transform: translateX(100%); }
  to { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}
body { @apply font-sans; font-family: 'Inter', sans-serif; }
